/* styles.css */

.header-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* 初始时保持两列 */
  gap: 20px;
  /* 设置方框之间的间距 */
}

@media (max-width: 600px) {

  /* 当屏幕宽度小于或等于 600px 时，变为单列 */
  .header-grid {
    grid-template-columns: 1fr;
    /* 变成单列 */
  }
}

.grid-item {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px 20px;
  text-align: center;
}

.grid-item a {
  text-decoration: none;
  color: #333;
  margin-right: 10px;
}

.grid-item p {
  flex-grow: 1;
  margin: 0;
}
