<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description"
    content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ " /assets/css/main.css" | prepend: site.baseurl }}">
</head>

<body>
  <div id="particles-js">
    <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="#"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Twitter" target="_blank" href="#"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My Google Plus" target="_blank" href="#"><i class="icon fa fa-google-plus"
            aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="#"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
    </div>
    <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
  </div>

</body>
